@import url("https://fonts.googleapis.com/css?family=Quando:400|Open+Sans:400,700");
h1, h2, h3, h4 {
  font-family: 'Quando', serif;
  color: #374045; }

p, a, li, input, button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

button {
  padding: 0 20px;
  background-color: #4D95FF;
  color: #fff;
  height: 50px;
  line-height: 50px;
  width: 175px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 2px solid #3D78FF;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease 0s; }

button:hover {
  color: #3D78FF;
  background-color: #fff;
  border-color: #3D78FF;
  width: 200px; }

.Services {
  height: 550px;
  background-color: #eee; }
