@import url("https://fonts.googleapis.com/css?family=Quando:400|Open+Sans:400,700");
h1, h2, h3, h4 {
  font-family: 'Quando', serif;
  color: #374045; }

p, a, li, input, button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

button.btn-get-the-coupon {
  padding: 0 20px;
  background-color: #4D95FF;
  color: #fff;
  height: 50px;
  line-height: 50px;
  width: 175px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 2px solid #3D78FF;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease 0s; }

button.btn-get-the-coupon:hover {
  color: #3D78FF;
  background-color: #fff;
  border-color: #3D78FF;
  width: 200px; }

button.coupon-button {
  padding: 0 20px;
  background-color: #fff;
  color: #3D78FF;
  height: 40px;
  line-height: 40px;
  width: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid #3D78FF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: all 0.3s ease 0s; }

button.coupon-button:hover {
  color: #fff;
  background-color: #3D78FF;
  border-color: #3D78FF;
  width: 175px; }

.Coupons {
  padding: 40px 0;
  background-color: rgba(225, 225, 225, 0.2);
  min-height: 500px; }
