@import url("https://fonts.googleapis.com/css?family=Quando:400|Open+Sans:400,700");
h1, h2, h3, h4 {
  font-family: 'Quando', serif;
  color: #374045; }

p, a, li, input, button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

button {
  padding: 0 20px;
  background-color: #4D95FF;
  color: #fff;
  height: 50px;
  line-height: 50px;
  width: 175px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 2px solid #3D78FF;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease 0s; }

button:hover {
  color: #3D78FF;
  background-color: #fff;
  border-color: #3D78FF;
  width: 200px; }

.Footer {
  padding: 60px 0;
  background: #243b55;
  background: -webkit-linear-gradient(to right, #141e30, #243b55);
  background: linear-gradient(to right, #141e30, #243b55);
  min-height: 400px;
  color: #fff; }
  .Footer h4 {
    color: #fff;
    opacity: 0.7; }
  .Footer ul {
    margin-left: 0;
    padding-left: 0; }
  .Footer li, .Footer p {
    list-style: none;
    opacity: 0.6; }
  .Footer .social-icons {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 40px; }
  .Footer i {
    opacity: 0.6;
    font-size: 1.5em;
    margin: 0 10px; }
  .Footer i:hover {
    opacity: 1; }
  .Footer .tg-logo {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center; }
    .Footer .tg-logo h4 {
      margin-bottom: 20px;
      color: #374045; }
    .Footer .tg-logo img {
      margin: 0 auto; }
