@import '../shared.sass'

.Footer
  padding-top: 30px
  background: #243b55
  background: -webkit-linear-gradient(to right, #141e30, #243b55)
  background: linear-gradient(to right, #141e30, #243b55)
  height: 400px
  color: #fff
  h4
    color: #fff
    opacity: 0.7
  li
    list-style: none
    opacity: 0.6
  .social-icons
    width: 100%
    text-align: center
    padding-top: 20px
  i
    opacity: 0.6
    font-size: 1.5em
    margin: 0 10px
  i:hover
    opacity: 1
